// Variables are literally the style guide for case study.

// Page background color
$primaryColor: rgb(161, 207, 192);

// Primary content color
$secondaryColor: #006666;

//border box radius
$radius:25px;

// Card containers could have been variables 
